<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <style>
      * {
        margin: 0;
        padding: 0;
        font-family: "Lexend";
      }
      a {
        text-decoration: none;
        color: #000;
      }
      body {
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 100vh;
      }
      nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 14px;
      }
      .header {
        flex: 1;
      }
      .header > h1 {
        font-size: 32px;
        font-weight: 500;
      }
      .sub-header {
        color: #03045e;
      }
      .links {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        font-size: 22px;
      }
      .links > div {
        background-color: #023e8a;
        padding: 10px 16px;
      }
      .links a {
        color: #fff;
      }
      .messages {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
      }
      .messages > div {
        border: 1px groove #000;
        padding: 14px;
      }
      .messages p {
        font-size: 21px;
      }
      .remove-message {
        display: flex;
      }
      .remove-message > a {
        flex: 1;
        font-size: 20px;
        text-align: center;
        padding: 5px;
        background-color: #023e8a;
        color: #fff;
      }
    </style>
  </head>
  <body>
    <% if(locals.user) { %>
    <nav>
      <div class="header">
        <h1>Members<span class="sub-header">Only</span></h1>
      </div>
      <div class="links">
        <div class="add-message">
          <a href="/message/create">Add Message</a>
        </div>
        <div class="log-out">
          <a href="/log-out">Log Out</a>
        </div>
      </div>
    </nav>
    <% } else { %>
    <nav>
      <div class="header">
        <h1>Members<span class="sub-header">Only</span></h1>
      </div>
      <div class="links">
        <div class="log-in">
          <a href="/log-in">Log In</a>
        </div>
        <div class="sign-up">
          <a href="/sign-up">Sign Up</a>
        </div>
      </div>
    </nav>
    <% } %> <%- include('messages', { user: user, messages: messages, users:
    users }); %>
  </body>
</html>
