<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log In</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <style>
      * {
        margin: 0;
        padding: 0;
        font-family: "Lexend";
      }
      a {
        text-decoration: none;
        color: #000;
      }
      body {
        display: flex;
        flex-direction: column;
        height: 100vh;
      }
      h1 {
        flex: 2;
        font-size: 33px;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #023e8a;
        color: #fff;
        padding: 14px;
        margin-bottom: 13px;
      }
      .form {
        flex: 24;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        border: 1px groove black;
        padding: 20px;
      }
      form > div {
        display: flex;
        flex-direction: column;
        font-size: 22px;
        gap: 5px;
      }
      label {
        text-decoration: underline;
      }
      input {
        padding: 4px;
        font-size: 22px;
      }
      button {
        font-size: 22px;
        padding: 5px;
        cursor: pointer;
        background-color: #0077b6;
        border: 0;
        color: #fff;
      }
      a {
        background-color: #0077b6;
        color: #fff;
        padding: 8px;
        font-size: 22px;
      }
      .error-message {
        color: red;
        font-size: 14px;
      }
    </style>
  </head>
  <body>
    <h1>Log In</h1>
    <div class="form">
      <form action="/log-in" method="post">
        <div>
          <label for="username">Username</label>
          <input type="text" name="username" id="username" required />
        </div>
        <div>
          <label for="password">Password</label>
          <input type="password" name="password" id="password" required />
        </div>
        <% if(loginFailureMessages) { %> <% for(let i = 0; i <
        loginFailureMessages.length; i++) { %>
        <div>
          <p class="error-message"><%= loginFailureMessages[i] %></p>
        </div>
        <% } %> <% } %>
        <button type="submit">Submit</button>
      </form>
      <div class="return">
        <a href="/">Go Back</a>
      </div>
    </div>
  </body>
</html>
