<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Success</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <style>
      * {
        margin: 0;
        padding: 0;
        font-family: "Lexend";
      }
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
      div {
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        align-items: center;
        gap: 30px;
      }
      a {
        text-decoration: none;
        color: #fff;
        background-color: #0077b6;
        padding: 5px 10px 5px 10px;
        font-size: 22px;
      }
    </style>
  </head>
  <body>
    <div>
      <h1>Sign Up Success!</h1>
      <h2>Please Log in</h2>
      <a href="/log-in">Log In</a>
    </div>
  </body>
</html>
